adf_etl/pipeline/processHospitalData.json
{
	"name": "processHospitalData",
	"properties": {
		"activities": [
			{
				"name": "getSourceFilesList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "hospitalAdmissionData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "pickOneFile",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getSourceFilesList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileName",
					"value": {
						"value": "@activity('getSourceFilesList').output.childItems[0]['name']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "loadLanding",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "pickOneFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "landing",
							"wildcardFileName": {
								"value": "@variables('fileName')",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "TRUNCATE TABLE [landing].[admissions]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Age",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "age",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Gender",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gender",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Blood Type",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bloodType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Medical Condition",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "medicalCondition",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Date of Admission",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dateOfAdmission",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Doctor",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doctor",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Hospital",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "hospital",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Insurance Provider",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "insuranceProvider",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Billing Amount",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "billingAmount",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Room Number",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "roomNumber",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Admission Type",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "admissionType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Discharge Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dischargeDate",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Medication",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "medication",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Test Results",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "testResults",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "hospitalAdmissionData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "landingData",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "loadStagingTables",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "loadLanding",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "loadStaging",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"fileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}